@page
@model Factory.Razor.Pages.Products.CreateModel

<h1 class="text-center">New Product</h1>

<hr />

<form method="post">
    <div class="row mb-2">
        <label for="@Model.ProductModel.Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col col-sm-10">
            <input asp-for="ProductModel.Name" />
            <span asp-validation-for="ProductModel.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <label for="@Model.ProductModel.CategoryName" class="col-sm-2 col-form-label">Category</label>
        <div class="col col-sm-10">
            <select asp-for="ProductModel.CategoryName">
                @foreach (var category in Model.CategoriesCollection)
                {
                    <option>@category.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row mb-2">
        <label for="@Model.ProductModel.Quantity" class="col-sm-2 col-form-label">Category</label>
        <div class="col col-sm-10">
            <input type="number" value="0" readonly />
        </div>
    </div>
    <div class="row mb-2">
        <label for="@Model.ProductModel.Price" class="col-sm-2 col-form-label">Category</label>
        <div class="col col-sm-10">
            <input asp-for="ProductModel.Price" />
            <span asp-validation-for="ProductModel.Price" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-2">
        @if (Model.ProductDetailList.Any())
        {
            foreach (var productDetail in Model.ProductDetailList)
            {
                <label class="col-sm-2 col-form-label">Material</label>
                <input value="@(productDetail.MaterialName)" readonly />
                <label class="col-sm-2 col-form-label">Quantity</label>
                <input value="@(productDetail.Quantity)" readonly />
            }
        }
    </div>

    <button class="btn btn-success mb-2 mt-2" type="submit">Save Changes</button>
</form>

<form asp-page-handler="AddRow">
    <label class="col-sm-2 col-form-label">Material</label>
    <select asp-for="MaterialName">
        @foreach (var material in Model.MaterialNames)
        {
            <option>@material</option>
        }
    </select>
    <label class="col-sm-2 col-form-label">Quantity</label>
    <input asp-for="Quantity" />

    <button class="btn btn-success mb-2 mt-2" type="submit" asp-page-handler="AddRow">Add Material</button>
</form>